/* Desktop */
  .container {
    flex-direction: row;
  }

  main {
    min-height: 96vh;
  }

  .container {
    width: 80%;
  }

  .stats {
    justify-content: space-evenly;
    height: 70vh;
    padding: 4rem 8rem 2rem 5.5rem;
    text-align: left;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: 0;
  }

  .stats__title {
  font-size: 2.5rem;
}

  .stats__text {
    margin-right: 1rem;
  }

  .stats__kpi {
    width: 100%;
    margin-top: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .kpi-item {
    padding: 0;
    align-items: flex-start;
  }
